<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/holiday.css@0.9.8" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">          
            <ul>
                <li>
                    <a asp-area="" asp-page="/Index">
                        <img src="~/img/ChinookMusicMenuLogo.jpg" alt="logo image" 
                             title="go to Home"/>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-page="/Index">Home</a>
                </li>
                @*this is the structure for a submenu (drop down menu)*@
                <li>
                    <span>Samples</span>
                    <ul>
                        <li>
                            <a asp-area="" asp-page="/BasicDataMovement">Basics</a>
                        </li>
                        <li>
                            <a asp-area="" asp-page="/RegionQuery">Query Region</a>
                        </li>
                    </ul>

                </li>
                <li>
                    <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                </li>
            </ul>
        </nav>
    </header>
    <div >
        <main role="main" class="pb-3">
            @RenderBody()

        </main>
    </div>

    <footer>
        
            &copy; 2021 - Jennifer Soule All rights reserved - <a asp-area="" asp-page="/Privacy">Privacy</a>
      
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
