@page
@model WebApp.Pages.BasicDataMovementModel
@{
}
<h1>Basic Data Movement</h1>
@if (!string.IsNullOrWhiteSpace(Model.MyName))
{
<p style="color:firebrick; font-weight:bold">
    @Model.MyName
</p>
}
else
{
<p>Number was odd.</p>
}