@page   "{id?}"
@model WebApp.Pages.BasicDataMovementModel
@{
}
<h1>Basic Data Movement</h1>
@if (!string.IsNullOrWhiteSpace(Model.MyName))
{
<p style="color:firebrick; font-weight:bold">
    @Model.MyName
</p>
}
else
{
<p>Number was odd.</p>
}

<!--
helper tag: asp-for
    the tag ties the control to data in the associated "code-behind" class (Model)
helper tag
    looks for 
-->
<form method="post">
    <label>
        Enter a number
        <input type="text" asp-for="id" />
    </label>
    <br />
    <button type="submit" value="A" id="theButton" name="theButton" asp-page-handler="AButton">A Button</button>
    &nbsp;&nbsp;
    <button type="submit" value="B" id="theButton" name="theButton" asp-page-handler="BButton">B Button</button>
    <p style="color: green; font-weight:bold">
        @Model.FeedbackMessage
    </p>

</form>