@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Welcome</h1>
    <img src="~/img/ChinookMusicMenuLogo.jpg" alt="Chinoook music image" />
    <p>
        Database Version: @Model.buildVersion.Major . @Model.buildVersion.Major . @Model.buildVersion.Build
        Released: @Model.buildVersion.ReleaseDate
    </p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p></p>

</div>
