@page "{searcharg?}"
@model WebApp.Pages.PartialFilterSearchModel
@{
    ViewData["Title"] = "Partial String Query";
}
<h1>Partial string query resulting in a table display</h1>
<p>@Model.FeedbackMessage</p>
<form method="post">
    <label>
        Enter Region Name:
        <input type="text" asp-for="searcharg" placeholder="enter your region name (or part of )" />
    </label>
    <button type="submit" asp-page-handler="ByName">Fetch By Name</button>

    @if(Model.searcharg != null)
        if (Model.regionInfo.Count() == 0 && Model.searcharg.Length > 0)
        {
            <p style="color:firebrick;font-weight:bold">
                No region found for this region id.
            </p>
        }
        else
        {
            <table>
                <thead>
                <th>ID</th>
                <th>Description</th>
                </thead>
                <tbody>
                    @foreach (var item in Model.regionInfo)
                    {
                        <tr>
                            <td>@item.RegionId</td>
                            <td> <a href="/TerritoriesCRUD/@item.RegionId">
                                 @item.RegionDescription
                                 </a>
                            </td>
               
                        </tr>
                    }
                </tbody>

          

            </table>
        }
</form>